name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build Backend Docker Image
      run: docker build -t backend-test ./server
    - name: Run Backend Tests
      run: |
        docker run --rm backend-test sh -c "echo 'SECRET_KEY=test' > .env && echo 'DEBUG=True' >> .env && python manage.py test"

  test-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build Frontend Docker Image
      run: docker build -t frontend-test ./client
    - name: Run Frontend Tests
      run: docker run --rm frontend-test npm test -- --run

  deploy:
    runs-on: ubuntu-latest
    needs: [test-backend, test-frontend]
    if: success()

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd house_predict_app
          git pull origin main
          docker-compose down
          docker-compose up -d --build
